@use "../../partials/palette.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  width: 15%;
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    // box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.3);
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    gap: 6px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
  }

  &__title {
    font-size: 0.9em;
    font-weight: 500;
  }
  &__price {
    font-size: 1em;
    font-weight: 600;
  }

  &__button {
    cursor: pointer;
    background-color: palette.$color5;
    border: none;
    color: white;
    padding: 3px;
    border-radius: 5px;

    &:hover {
      background-color: palette.$color5-light;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
