.carousel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: red;
  height: 50vh;
  width: 70vw;
  max-width: 1500px;

  &__inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    position: relative;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;

    &__right {
      right: 0;
    }

    &__left {
      left: 0;
    }
  }
}
